a {
  color: #70d5e6;
}
/* One Hundred Ten Colors */
html,
body {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #faf5e5;
  color: #5b5b60;
  font-family: Avenir, 'Helvetica Neue', sans-serif;
  font-weight: 200;
}
.social-icons {
  font-size: 28px;
  text-align: center;
}
.social-icons a {
  display: inline-block;
  margin: 0 0.2em;
  text-decoration: none;
}
/* Define Blog Variables */
/* END BLOG VARIABLES */
.container {
  border-left: 100px solid #70d5e6;
  border-right: 100px solid #ff7d5f;
  padding-bottom: 80px;
  min-height: 100%;
  min-width: 100%;
}
header {
  padding-top: 1em;
  text-align: center;
}
header a.homeLink {
  text-decoration: none;
  font-size: 24px;
}
header img {
  width: 90%;
  margin: auto;
  max-width: 600px;
}
header span:nth-child(odd) {
  color: #70d5e6;
}
header span:nth-child(even) {
  color: #ff7d5f;
}
header .blog {
  width: 140px;
  margin: 10px auto;
  background-color: #70d5e6;
  color: #faf5e5;
  border-radius: 18px;
  height: 36px;
  line-height: 36px;
}
.post {
  max-width: 520px;
  margin: auto;
  padding: 1em;
}
.post img {
  max-width: 100%;
  margin: auto;
  border-radius: 2px;
  border: 4px solid #555;
}
.post img.screen {
  width: 30%;
  display: inline-block;
}
.post p {
  margin: 0.5em auto 1em auto;
}
.post .caption {
  font-size: 12px;
  text-align: center;
  margin-top: -4px;
  margin-bottom: 1.5em;
}
.screens {
  margin: 2em 0;
  text-align: center;
}
h2 {
  font-size: 19.2px;
  margin-bottom: 7.2px;
}
h3 {
  font-size: 16.8px;
  margin-bottom: 7.2px;
}
h4 {
  font-size: 14.4px;
  margin-bottom: 7.2px;
}
.post__title {
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 9.6px;
}
.post__date {
  display: block;
  font-size: 14.4px;
  font-style: italic;
  font-weight: normal;
  color: rgba(91, 91, 96, 0.4);
}
.emailLink {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
}
.emailLink a {
  display: block;
  width: 100%;
  max-width: 220px;
  color: #faf5e5;
  text-decoration: none;
  font-size: 16px;
  line-height: 36px;
  height: 36px;
  background-color: #ff7d5f;
  border-radius: 18px;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  border: 1px solid #ff542c;
}
@media (max-width: 600px) {
  .container {
    border-left-width: 10px;
    border-right-width: 10px;
  }
  .post img.screen {
    width: 100%;
    margin: 1em auto;
  }
  header a.homeLink {
    font-size: 20px;
  }
}
.modal,
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modalBackground {
  z-index: 100;
  background-color: #3c3c3c;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
.modalBackground.show {
  opacity: 0.4;
}
.modal {
  z-index: 101;
}
.modal img {
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
.modal.show img {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
