body,html {
	font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #545452;
	color: #F9FFF2;
}
header {
	padding: 1em 0;
	text-align: center;
	position: relative;
}

header table {
	margin: auto;
}

header td {
	padding: 0.5em 1em;
	font-size: 24px;
	font-weight: 100;
}

header td:first-child {
	border-right: 1px solid #F9FFF2;
	text-align: right;
}

.bold {
	font-weight: 600;
}


.logo img {
	width: 200px;
	height: 200px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	border-radius: 48px;
	margin:0;
	float:left;

}

a {
	color: inherit;
	text-decoration: none;
}
.app {
	height: 200px;
	padding: 120px 10%;
}

.app .header {
	text-align: center;
}
.app .header__img {
	width: 320px;
}

.app .information {
	margin-left: 200px;
	padding-left: 20px;
	padding-top: 20px;
	text-align: center;
	color: #888;
}
.app .description {
	margin-top: 30px;
	text-align: center;
}

.app .link {
	color:rgb(103, 131, 255);
}

#podeo {
	background-color: #999;
}

#outshape {
	background-color: #daf5ff;
}